.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
  
.grid-container .grid-item {
    width: 200px;
    padding: 6px;
    font-size: 14px;
    word-wrap: break-word;
    border: 1px solid var(--search-bg-color);
}
  
.grid-container .grid-item .grid-item-img {
    height: 150px;
    margin-bottom: 5px;
}
  
.grid-item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
@media (max-width: 1024px) {
    .grid-container {
      justify-content: center;
      grid-template-columns: unset !important;
    }
}